{% extends "dream_houses/base.html" %}

{% block page_header %}

    
{% endblock page_header %}

{% block content %}
 <div id="about">
        {% for property in properties %}
        <div class="container">
            
            <div class="row">
                
                <div class="about-col-1">
                    {% if property.image %}
                    <img src="{{ property.image.url }}" alt="{{ property.name }}">
                   {% endif %}

                </div>
                <div class="about-col-2">
                    
                    <div class="about-col-2-1">
                        <p>
                            <h2>
                               Name: {{property.name}}
                            </h2>
                        </p>
                        <p>
                            Type: {{property.property_type}}
                        </p>
                        <p>
                            Price: {{property.price}}
                        </p>
                        
                    </div>
                    <div class="about-col-2-2">
                        <p>
                            <h2>
                                Description
                            </h2>
                            <p>{{property.bathrooms}}</p>
                            <p>{{property.bedrooms}}</p>
                        </p>

                    </div>
                    <div class="about-col-2-3">
                        <p>
                            <h2>
                                Owner contact
                            </h2>
                        </p>
                        <p>
                            {{property.owner.email}}
                        </p>
                        <a href="mailto:{{property.owner.email}}" class="btn btn2">Contact owner</a>

                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}
