

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ndjekornom Victoire</title>
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/fe02953daa.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header-edit">
        <div class="container" >
            <nav>
                <h1 class="logo"><span>N</span>djek.</h1>
                
                <ul id="sidemenu">
                    <li><a href="{% url 'dream_houses:index' %}">Home</a></li>
                    
                    
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                    <li><a href="{% url 'users:register' %}">Register</a></li>
                    
                    <i class="fas  fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
                
            </nav>
         
        </div>
    </div>

    
<div class="properties">
    <div class="container">
        <p>
	{%csrf_token%}
	You have been logged out succesfully!
	Thank you for visiting.
</p>
    </div>
    
</div>
    
    

</body>
</html>
